/* STAR LOG Style Sheet */

/*Whole page CSS*/

.body {
    background-image: url("Media/JPG/index_BG.jpg");
    background-size: cover;
    color: whitesmoke;
}

/*Header Text*/

.header {
    font-family: fantasy;
}

/*site navigation*/
.navigation {
    display: flex;
    flex-direction: row;
    border: solid black;
}

.nav_group {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navigation a {
    padding: 10px;
}

/*end site navigation*/

/* main area */
.main-container .content-area_group {
    display: flex;
    flex-direction: row;
    width: cover;
    box-sizing: border-box;
    border: solid black;
}

.button {
    background-color: transparent;
    border: solid whitesmoke;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.button:hover {
    background-color: white;
    color: black;
}

.text-area {
    box-sizing: border-box;
    height: 250px;
    width: 500px;
}

/* end main area */

/* sidebar */
.sidebar {
   display: block;
   width: 20%;
   box-sizing: border-box;
   border: solid black;
}

/* end sidebar */ 
