/* STAR LOG Style Sheet */

/*Header Text*/

.header {
    font-family: fantasy;
}

/*site navigation*/
.navigation {
    display: flex;
    border: solid black;
}

.navigation li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navigation a {
    padding: 10px;
}

/*end site navigation*/



/* main area */
.main-container .content-area_group {
    display: flex;
    flex-direction: row;
    width: 80%;
    box-sizing: border-box;
    border: solid black;

}

/* end main area */

/* sidebar */
.sidebar {
   display: block;
   width: 20%;
   box-sizing: border-box;
   border: solid black;
}

/* end sidebar */ 
