/* STAR LOG Style Sheet */

/*site navigation*/
.navigation {
    display: block;
    border: solid black;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation a {
    display: block;
    padding: 10px;
}

/*end site navigation*/

/* main area */
.main-container {
    display: block;
    float: left;
    width: 80%;
    box-sizing: border-box;
    border: solid black;

}

/* end main area */

/* sidebar */
.sidebar {
   display: block;
   width: 20%;
   box-sizing: border-box;
   float: left;
   border: solid black;
}

/* end sidebar */ 

/* Float Clear */

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}